.header {
  padding-top: 12px;
  margin-bottom: rem(120px);

  @mixin dark {
    background-color: var(--mantine-color-dark-6);
  }

  @mixin light {
    background-color: "#f6f6f6";
  }
}

.inner {
  height: rem(56px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  display: block;
  line-height: 1;
  padding: rem(8px) rem(12px);
  border-radius: var(--mantine-radius-sm);
  text-decoration: none;
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
  font-size: var(--mantine-font-size-sm);
  font-weight: 500;

  @mixin hover {
    background-color: light-dark(
      var(--mantine-color-gray-0),
      var(--mantine-color-dark-6)
    );
  }
}

.linkLabel {
  margin-right: rem(5px);
}

.mainLink {
  /* Style for main category links */
  padding: 0.5rem 0;
  transition: background-color 0.2s ease; /* Add smooth transition */
}

.mainLink:hover {
  background-color: #f5f5f5; /* Subtle hover effect */
}

.activeLink {
  /* Style for the active main category */
  background-color: #e0e0e0; /* More pronounced highlight */
  font-weight: 600;
}

.sublink {
  /* Style for subcategory links */
  text-decoration: none; /* Remove underlines */
  color: inherit;
}

.sublink:hover {
  text-decoration: underline; /* Underline on hover */
}