.price {
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
}

.carousel {
    @mixin hover {
        .carouselControls {
            opacity: 1;
        }
    }
}

.carouselControls {
    position: absolute;
    top: 50%;
    right: -30px;
    left: -30px;
    transform: translateY(-50%);
}

.carouselIndicator {
    width: rem(4px);
    height: rem(4px);
    transition: width 250ms ease;

    &[data-active] {
        width: rem(16px);
    }
}